

.status {
margin-bottom: 10px;
}

.game {
display: flex;
flex-direction: row;
}

.game-info {
margin-left: 20px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}
.board:after {
    clear: both;
    content: "";
    display: table;
    }