.status {
  margin-bottom: 25px;

  span {
    font-size: 1.5em;
    font-weight: 700;
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 155px;

  .row {
    display: flex;

    div {
      width: 75px;
      height: 70px;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 2em;
    }
  }
}
